.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#17dac4;
}

.login-card{
    width:400px;
    background:rgb(177, 255, 246);
    padding:40px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
}

.login-card h1{
    color:#1565c0;
    text-align:center;
}

.login-card h2{
    margin:20px 0;
    text-align:center;
}

.login-card form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.login-card input{
    padding:14px;
    border:1px solid #cccccc;
    border-radius:8px;
    font-size:16px;
}

.login-card button{
    padding:14px;
    background:#c09815;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
}

.login-card button:hover{
    background:#a10d6d;
}

.login-card p{
    margin-top:20px;
    text-align:center;
}

.login-card a{
    color:#0e3f78;
    font-weight:bold;
}
.login{
    background-color: aquamarine;
}
