.notfound{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#eef2ff;
}

.notfound h1{
font-size:100px;
color:red;
}

.notfound button{
padding:12px 30px;
background:#2563eb;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}