/* .students {
  padding: 20px;
}

.search-box {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th {
  background: #436b96;
  color: white;
}

th,
td {
  padding: 12px;
  text-align: center;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}

.loading {
  text-align: center;
}
.students-container{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:30px;
    padding:30px;
}

.students{
    flex:2;
}

.image-section{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.student-image{
    width:100%;
    max-width:450px;
    height:550px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
} */
 .students {
  padding: 20px;
}

.search-box {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th {
  background: #436b96;
  color: white;
}

th,
td {
  padding: 12px;
  text-align: center;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}

.loading {
  text-align: center;
}
.students-container{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:30px;
    padding:30px;
}

.students{
    flex:2;
}

.image-section{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.student-image{
    width:100%;
    max-width:450px;
    height:550px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
} 
.edit-btn{
    background:orange;
    color:white;
    border:none;
    padding:8px 15px;
    margin:0 5px;
    border-radius:5px;
    cursor:pointer;
}

.edit-btn:hover{
    background:darkorange;
}