.students-page{
    padding:30px;
    background-color: aquamarine;
}

.students-page h1{
    color:#000000;
    margin-bottom:25px;
}

.student-form{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
    margin-bottom:25px;
}

.student-form input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
}

.student-form button{
    background:#1565c0;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    padding:12px;
}

.student-form button:hover{
    background:#0d47a1;
}

.search-box{
    width:350px;
    max-width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

table th{
    background:#15b2c0;
    color:white;
    padding:12px;
}

table td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

table tr:hover{
    background:#f5f5f5;
}

.delete-btn{
    background:#e53935;
    color:white;
    padding:8px 12px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#c62828;
}

@media(max-width:768px){
    .student-form{
        grid-template-columns:1fr;
    }

    table{
        display:block;
        overflow-x:auto;
    }
}