/* .navbar{
    height:70px;
    background:#0d6efd;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;
}

.logo h2{
    margin:0;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.logout-btn{
    padding:8px 18px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background:#dc3545;
    color:white;
    font-size:15px;
}

.logout-btn:hover{
    background:#bb2d3b;
} */