.sidebar{
width:220px;
height:100vh;
background:#0f172a;
display:flex;
flex-direction:column;
padding:20px;
}

.sidebar h2{
color:white;
margin-bottom:20px;
}

.sidebar a{
color:white;
text-decoration:none;
padding:12px;
margin-bottom:10px;
border-radius:8px;
}

.sidebar a:hover{
background:#2563eb;
}