.sidebar{
    width:240px;
    min-height:100vh;
    background:#1f2937;
    color:white;
}

.sidebar-title{
    text-align:center;
    padding:20px 0;
    border-bottom:1px solid gray;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:18px 20px;
    cursor:pointer;
    transition:.3s;
    font-size:17px;
}

.sidebar li:hover{
    background:#2563eb;
    padding-left:28px;
}